:root {
    --primary-color3: #265f5f;
    --primary-color: rgb(58, 56, 56);
    --primary-color2:#dad5df;
    --primary-color4:#581bff;
    --primary-border-color:1px solid #ccc923;
    --invalid-border-color:1px solid #eb1b1b;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    background-color: var(--primary-color3);
    justify-content: center;
    width: 100vw;
    
}

h1 {
    color: var(--primary-color2);
    font-weight: bolder;
    font-size: 2.2rem;
}


.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}


.book-btn {
    width: 120px;
    height: 50px;
    font-size: large;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 20px;
    background-color: var(--primary-color2);
    border: none;
    color: #000000;
    box-shadow: 0 9px #999;
}


.book-btn:hover {
    background-color: #e0dee2;
}

.book-btn:active {
  background-color: var(--primary-color2);
  box-shadow: 0 6px #666;
  transform: translateY(4px);
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: var(--primary-color2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    max-width: 600px;
    padding: 1rem;

}

form {
    display: flex; 
    flex-wrap: wrap;
     justify-content: center;
     flex-direction: row;
   flex-direction: column;
}

label {
    display: block;
    margin-bottom:5px ;
}

.field {
 margin: 10px;
}

.field:nth-child(5) {
   display: flex;
   gap: 10px;
}

input {
    border: none;
    border-radius: 3px;
    padding: 0.5em;
    padding-right: 3rem;
    background-color: var(--primary-color2);

}

input:invalid:focus {
    outline: var(--invalid-border-color);
}

input:focus {
    outline: var(--primary-border-color  
    );
}

input:hover {
    background-color: #f1eeee;
}


#submit, .cancel {
    width: 60px;
    outline: none;
    
    border-radius: 5px;
    font-weight: 500;
    
    background-color: var(--primary-color2);
    border: none;
    color: #000000;
    box-shadow: 0 5px #999;
}

#submit:hover, .cancel:hover, #read:hover {
    background-color: #e0dee2;
}

#submit:active, .cancel:active {
  background-color: var(--primary-color2);
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

#read {
    width: 102px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--primary-color2);
    font-size: 16px;
    color: #333;
    text-align: center;
    outline: none;
}
